In [15]:
import sqlalchemy as db
from sqlalchemy import text
from io import StringIO
import pandas as pd
from pymongo import MongoClient

import os

In [3]:
engine = db.create_engine("mysql://root:root@192.168.2.17:3310/retail_db")
conn = engine.connect()

In [17]:
def Extract():
    engine = db.create_engine("mysql://root:root@192.168.2.17:3310/retail_db")
    conn = engine.connect()
    tables = pd.read_sql_query(text('show tables'), con=conn)    
    for value in tables.values:
        data_table = pd.read_sql_query(text(f'SELECT * FROM {value[0]}'), con=conn)
        Load(data_table, value[0])

In [16]:
def Load(data, collectionName):
    
    CONNECTION_STRING = "mongodb+srv://m001-student:mCxRoc3yh6nf2Xyv@sandbox.okkbl.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)
    df = data.copy()
    df.reset_index(inplace=False)
    df_to_dict = df.to_dict("records")
    dbname = client["reatil_db_from_mysql"]
    dbname[collectionName].insert_many(df_to_dict)

In [18]:
Extract()